<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyWebApplication</title>
  <link href="/templates/css/form.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>

<script src="/static/getrequest.js" crossorigin="anonymous"></script>
<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">

          <h3>Click to get Customer List</h3>

          <div class="form-button1">
            <button class="form-button1">Get All Customers</button>
          </div>

        </div>
    </div>
  </div>
</div>
</div>
</body>
</html>